<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}" >
    &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
  </a>
    <div>{{ partial "social-follow.html" . }}</div>
  </div>
<!-- 网站访问量统计、游客统计 -->
<br/>
<i class="fa fa-line-chart"></i>
<span id="busuanzi_container_site_pv">
    本站总访问量&nbsp;<span id="busuanzi_value_site_pv"></span>&nbsp;次
</span>
<br/>
<i class="fa fa-user-circle-o"></i>
<span id="busuanzi_container_site_uv">
    您是本站的第&nbsp;<span id="busuanzi_value_site_uv"></span>&nbsp;个小伙伴
</span>

  
</footer>
